
  .inter400 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }
  
  .inter500 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
  
  .inter600 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
  }
  
  .inter700 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
  }
  
  .inter800 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
  }